#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #385214;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-background {
  background-color: #3c1901;
  border-style: solid;
  border-color: #E09200;
  border-width: 3px;
  border-radius: 25px
}

.button-background {
  background-color: #696773;
}

.custom-image-container {
  position: relative;
  width:  100%;

  overflow: hidden;
}

.custom-image {
  width:  100%;
  height: auto;
}

.login-button-wrapper {
  position: absolute;
  bottom:  20px; /* Position the button at the bottom of the image */
  left:  50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Ensure the center of the button aligns with the center of the image */
}

.landing-header {
  border:  2px solid #E09200; /* Adjust the color and thickness as desired */
  border-radius:  10px; /* Optional: adds rounded corners to the border */
  padding:  1rem; /* Optional: adds space around the content inside the header */
  background-color: #3c1901;
}
.landing-header h1,
.landing-header p {
  color: #696773; /* Green color */
}
