html,
#root {
  height: 100%;
}

#root {
  margin: 0px;
  text-align: center;
  min-width: 100%;
}

.text-color {
  color: #d2aa79 !important;
}

.input-container {
  background-color: #8c641b !important;
  border-color: #000000 !important;
}

.page-bg {
  background-image: linear-gradient(to bottom right, #385214, #0a0f04);
}

.card {
  padding: 2em;
}

.container-background {
  background-color: #200e01f0 !important;
  border-style: solid !important;
  border-color: #e09200 !important;
  border-width: 3px !important;
  border-radius: 25px !important;
}

.button-container {
  background-color: #363636 !important;
  border-color: #000000 !important;
}

.header-nav {
  width: 100%;
  z-index: 999;
  background-color: #200e01;
  border-style: solid;
  border-color: #e09200;
  border-width: 0px;
  border-bottom-width: 3px;
  top: 0px;
}

.login-width {
  max-width: 480px;
  margin: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.offcanvas-background {
  background-color: #200e01 !important;
  border-style: solid !important;
  border-color: #e09200 !important;
  border-width: 3px !important;
}

.custom-offcanvas-header {
  color: #d2aa79 !important;
}

.offcanvas-header button {
  color: #e09200 !important;
  --bs-btn-close-color: #e09200 !important;
  --bs-btn-close-bg: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23d2aa79"%3e%3cpath d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/%3e%3c/svg%3e') !important;
}

nav span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(210, 170, 121)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (min-width: 769px) {
  .offcanvas-body-align {
    justify-content: flex-end;
    display: flex;
  }
}
