.custom-image-container {
    position: relative;
    width:  100%;
    height:  500px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .custom-image {
    width:  100%;
    height: auto;
  }
  
  .login-button-link {
    position: absolute;
    bottom:  20px; /* Position the button at the bottom of the image */
    left:  50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Ensure the center of the button aligns with the center of the image */
  }
  